// Base color
$base-blue: #0062ff;
$base-grey: #242424;

// Background
$background-base: #e5e5e5;
$background-white: #ffffff;

// Status
$status-green: #1ba049;
$status-red: #d92020;
$status-orange: #ff5c22;
$status-purple: #8a3ffc;
$status-yellow: #ffc400;

// Template
$template-bg: #ffffff;
$template-color: #8c8c8c;
$template-border: #e2e5e9;

